---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { OUR_BRAND } from "../utils/constants";
import { getEntryBySlug } from "astro:content";

// SEO related
const title = `${OUR_BRAND.NAME}`;
const description = OUR_BRAND.DESCRIPTION;

const noticeboard = await getEntryBySlug("notices", "first");
const { image, updatedAt } = noticeboard.data;
---

<Layout title={title} description={description}>
    <div class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6 text-center text-brand-primary">
            {OUR_BRAND.NAME}
        </h1>
        <p class="text-lg mb-8 text-center">{description}</p>
        <div
            class="bg-white shadow-lg rounded-lg overflow-hidden border-4 border-brand-primary"
        >
            <Image
                class="w-full h-auto"
                src={image}
                alt="The Hermitage Noticeboard"
                width={1200}
                height={800}
                loading="eager"
            />
        </div>
        <p class="mt-4 text-sm text-gray-600 text-center">
            照片更新時間: {
                updatedAt.toLocaleString("zh-HK", {
                    timeZone: "Asia/Hong_Kong",
                })
            }
        </p>
    </div>
</Layout>
